mixin space()
  | !{' '}

doctype html
html
  head
    title= titre

    link(rel='stylesheet', href='/css/milligram.min.css', type='text/css')

  body
    //menu
    div.container
      row
        h1.column.column-75 La boîte à rideaux

        a.button(href="/galerie") Galerie
        +space
        a.button(href="/contact") Contat


    div.container
      block content

    hr
    div.text-center
      | Copyright la boîte à rideaux --  #[a(href="/galerie") Galerie ]
