<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{titre}}</title>

        <link rel="stylesheet" type="text/css" href="/css/milligram.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <header class="row">
            <div class="column">
                <img src="/img/logo2.png" alt="">
            </div>
        </header>


        <navbar class="row">
            <row class="column">
                <div>
                    <a class="button" href="/galerie"><img src="/img/icons/gallery.png" alt="Visitez notre galerie" /> Galerie</a>
                    <div menu-item></div>
                </div>
            </row>
        </navbar>

        <div class="container">
            <a class="button" href="/contact"><img src="/img/icons/contact.png" alt="Contactez-nous" /> Contact</a>
            {{{body}}}
        </div>
        </hr>
        <div class="text-center">
            Copyright la boîte à rideaux --  <a href="/galerie"> Galerie </a>
        </div>

    </body>
</html>
