<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{titre}}</title>

        <link rel="stylesheet" type="text/css" href="/css/milligram.min.css">
        <link rel="stylesheet" type="text/css" href="/css/menu.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <header class="row">
            <div class="column">
                <img src="/img/logo2.png" alt="">
            </div>
        </header>


        <navbar class="row">
            <ul>
                <li>
                    <a class="ui-box bottom-leftToRight" href="/">
                        <img src="/img/icons/home.png" alt="Accueil" />
                        <span class="align-to-image"> Accueil</span>
                    </a>
                </li>

                <li>
                    <a class="ui-box bottom-leftToRight" href="/apropos">
                        <img src="/img/icons/aboutus.png" alt="Contactez-nous" />
                        <span class="align-to-image"> A propos</span>
                    </a>
                </li>

                <li>
                    <a class="ui-box bottom-leftToRight" href="/galerie">
                        <img src="/img/icons/gallery.png" alt="Visitez notre galerie" />
                        <span class="align-to-image"> Galerie</span>
                    </a>
                </li>
                <li>
                    <a class="ui-box bottom-leftToRight" href="/contact">
                        <img src="/img/icons/contact.png" alt="Contactez-nous" />
                        <span class="align-to-image"> Contact</span>
                    </a>
                </li>

            </ul>
        </navbar>

        <div class="container">

            {{{body}}}
        </div>
        </hr>

        <footer>
            Copyright la boîte à rideaux
        </footer>

    </body>
</html>
