<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{titre}}</title>

        <link rel="stylesheet" type="text/css" href="/css/milligram.min.css">
    </head>
    <body>

        <div class="container">
            <row>
                <h1 class="column column-75">La boîte à rideaux</h1>

                <a class="button" href="/galerie"> Galerie</a>
                <a class="button" href="/contact"> Contact</a>
            </row>
        </div>

        <div class="container">
            {{{body}}}
        </div>
        </hr>
        <div class="text-center">
            Copyright la boîte à rideaux --  <a href="/galerie"> Galerie </a>
        </div>

    </body>
</html>
