

    <div class="container">
        <row>
            <h1 class="column column-75">La boîte à rideaux</h1>

            <a class="button" href="/galerie"> Galerie</a>
            <a class="button" href="/contact"> Contact</a>
        </row>
    </div>

    <div class="container">
        je suis un petit mail envoyé
    </div>
    </hr>
    <div class="text-center">
        Copyright la boîte à rideaux
    </div>
