<h1>Ajout d'une réalisation</h1>
<div class="container">

    <form method='POST' action='/administration/realisation/add'
        id="" enctype='multipart/form-data' class="">
        <div class="row">

            <div class="column">
                <h2>Formulaire</h2>
                    <label for="legende">Légende (texte ajouté sous l'image) :</label>
                    <input type="text" name="legende" id="" required>
                    <label for="type">Type :</label>
                    <select id="type" name="type">
                        <option value="rideaux">Rideaux</option>
                        <option value="ameublement">Ameublement</option>
                    </select>
                    <label for="nomFichier" id="labelFile">Fichier :</label>
                    <input type="file" name="nomFichier" id="nomFichier" required>
                    <br>
                    <input type="button" class="button" value="Prévisualiser" />
            </div>

            <div id="previsualisation" class="column ">
                <h2>Prévisualisation</h2>
            </div>
        </div>
        <br>
        <div class="row"><input type="submit" class="button column" value="Ajouter en base de données" /></div>

    </div>
</form>



<script>
    const picker = datepicker('.superDate', { position: 'c', dateSelected: new Date(), formatter: function(el, date) {el.value = date.toDateString();}});
</script>
