extends includes/layout

block content

  p
    | Vous trouverez ici les différentes réalisations de la Boïte à rideaux.
    br

  div.container
    div.row
      div.column.column-50
        | turbo yolo


      div.column.column-50
        | turbo yolo
