extends includes/layout

block content

  p
    | Bienvenue sur la boîte à rideaux.
    br

    a(href="/comments/10") Comment with id 10
    br
    a.button(href="#") Default Button
    br
    button.button.button-outline Outlined Button
    br
    input.button.button-clear(type='submit' value='Clear Button')
