@font-face {
    font-family: 'titleFont';
    src: url('/font/ShintiaScript.ttf') format('truetype');
}

h1 {
    font-family: titleFont;
    color : #b00b0b;
    text-decoration: underline;
}

header > div >img{
    display    : block;
    margin     : auto;
}

navbar {
    border-top: 3px solid black;
    padding-top: 10px!important;
}

navbar > ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

navbar > ul > li {
    float: left;
    margin: 10px;
}

navbar > li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

.align-to-image {
    vertical-align: text-bottom;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-top: solid black 3px;
}
